html {
  font-family: monospace;
}
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background: #f5f3ef;
  --orange: #febd2f;
  --black: #0d0d0d;
  --box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.1);
  --border: #a1aaa6;
}

body {
  background-color: var(--background);
}

form {
  display: grid;
  gap: 40px;
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
  top: 595px;
  left: 465px;
  box-shadow: 0px 7px 24px 0px #0000001a;
  background-color: var(--background);
  padding: 50px;
  border-radius: 10px;
}

/* .newRecipeHeader {
  width: 1920px;
  height: 877.28px;
} */
.cancel {
  width: 174px;
  height: 56px;
  top: 1669px;
  left: 714px;
  border-radius: 300px;
  background-color: #0d0d0d;
  color: #f5f3ef;
}
.botton-container {
  display: flex;
  gap: 10px;
}
.save {
  width: 174px;
  height: 56px;
  top: 1669px;
  left: 514px;
  border-radius: 300px;
  background-color: #febd2f;
  color: #000000;
}

.preptime-serves {
  display: flex;
  gap: 2px;
}
.my-form label {
  color: #333333;
}

.background4 {
  width: 100vw;
  /* max-height: 877.28px !important; */
  object-fit: contain;
  object-position: top;
}
.navigation {
  margin-left: auto;
  margin-right: auto;
  background-color: #febd2f;
  position: fixed;
  position: sticky;
  top: 0;
}

.newRecipeTitle {
  font-size: 60px;
  padding-bottom: 30px;
}
form input {
  gap: 8px;
}
.category {
  /* /*  gap: 10px; */
  gap: 20px;
}
.categoriesLable {
  display: flex;
  gap: 10px;
}
label input {
  margin-right: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #000000;
}
.home-login {
  display: flex;
  gap: 40px;
}
nav a {
  color: #000000;
}
